- if @place.invalid?
  %legend
    = @place.errors.as_json

= simple_form_for @place, html: {class: 'form-vertical'}, url: url do |f|

  = f.input :name, input_html: { class: 'input-block-level' }
  = f.input :metro, input_html: { class: 'input-block-level' }
  = f.input :address, input_html: { class: 'input-block-level' }
  = f.input :schedule, input_html: { class: 'input-block-level' }
  = f.input :public_phone, input_html: { class: 'input-block-level' }
  = f.input :kitchen, input_html: { class: 'input-block-level' }
  = f.input :phone, input_html: { class: 'input-block-level' }
  = f.input :average_check
  = f.input :avatar
  = image_tag @place.avatar_url(:wide)
  = f.input :logo
  = image_tag @place.logo_url(:thumb)

  .active-check-area
    = f.input :active

  .form-actions
    = f.submit 'Готово', class: ['btn', 'btn-large', 'btn-info']