= simple_form_for @place, html: {class: 'form-vertical'}, url: url do |f|

  = f.input :name
  = f.input :address
  = f.input :average_check
  = f.input :phone
  = f.input :avatar

  .form-actions
    = f.submit 'Готово', class: ['btn', 'btn-large', 'btn-info']