%legend
  Мои заведения

  = link_to 'Добавить', new_account_place_path, class: ['btn', 'bnt-large'], style: 'float: right'

%table.table
  %thead
    %th
      Название
    %th
      Адрес
    %th
      = '...'
  %tbody
    - @places.each do |place|
      %tr
        %td
          = link_to place.name, account_place_path(place)
        %td
          = place.address
        %td
          = link_to 'Редактировать', edit_account_place_path(place)