.row
  .span2
    = image_tag @place.logo_url(:thumb)
  .span10
    %h1
      = @place.name
      %small
        %br
        = @place.address

    %ul.nav.nav-pills
      %li
        = link_to 'Фотографии', account_place_photos_path(@place)
      %li
        = link_to 'Основное', edit_account_place_path(@place)
      %li
        = link_to 'Описание', description_account_place_path(@place)