#place

  .header
    = @place.name


  .header
    .picture
      %img{src: @place.avatar_url(:thumb)}
      -#.name
        = @place.name



  -#.form#recommend-form
    .label
      Поделитесь мнением о заведении о получите комплимент.


    %input#table-number{type: :text, placeholder: '№ Стола'}
    %textarea.recommend-area#recommend-area{placeholder: 'Просто напишите вашу рекомендацию здесь...'}

    .recommend-button#recommend
      Рекомендовать

  -#.form#repost-form
    .label
      Ваш отзыв учтен. Осталось рассказать о нем в VK
      и получить скидку
    %a.repost-button#repost{href: '#'}
      Рассказать в VK


  -#error
    .duplicate
      Вы можете делать лишь один заказ в сутки
    .unknown
      Внимание, произошла ошибка. Мы уже знаем о ней и работаем над исправлением

  -#checker
    .waiting
      .state
        Ожидание
      .spin-block
        .spin
    .success
      Ура! вы получили скидку!
    .error

#place-info.label
  %table
    - unless @place.average_check.nil?
      %tr
        %td
          Средний чек
        %td
          = "#{@place.average_check} рублей"

    - unless @place.kitchen.nil?
      %tr
        %td
          Кухня
        %td
          = @place.kitchen

    - unless @place.schedule.nil?
      %tr
        %td
          Время работы
        %td
          = @place.schedule

    - unless @place.public_phone.nil?
      %tr
        %td
          Телефон
        %td
          = @place.public_phone


- unless @place.description.nil?
  #place-content
    .story
      = @place.description.html_safe