#place-header
  .avatar
    = image_tag @place.logo_url(:small_thumb)

  .info
    .name
      = @place.name
    .address
      = @place.address

#place-photos
  .block
    .arrow-left
    .arrow-right
    .photos
      - @place.photos.each do |photo|

        %div
          = image_tag photo.image_url(:full)

#place-info
  %table

    %tr
      %td
        Средний чек
      %td
        = "#{@place.average_check} рублей"
    %tr
      %td
        Кухня
      %td
        = @place.kitchen
    %tr
      %td
        Время работы
      %td
        = @place.schedule
    %tr
      %td
        Телефон
      %td
        = @place.public_phone


#place-content
  .story
    = @place.description.html_safe unless @place.description.nil?


#balloon-template{style: 'display: none'}
  .balloon
    .arrow
      %img{src: '/assets/bubble-arrow.png'}
    .image
      .name
        = @place.name

#place-map