#place

  .header
    = @place.name


  .header
    .picture
      %img{src: @place.avatar_url(:thumb)}

#place-info.label
  %table
    - unless @place.average_check.nil?
      %tr
        %td
          Средний чек
        %td
          = "#{@place.average_check} рублей"

    - unless @place.kitchen.nil?
      %tr
        %td
          Кухня
        %td
          = @place.kitchen

    - unless @place.schedule.nil?
      %tr
        %td
          Время работы
        %td
          = @place.schedule

    - unless @place.public_phone.nil?
      %tr
        %td
          Телефон
        %td
          = @place.public_phone


- unless @place.description.nil?
  #place-content
    .story
      = @place.description.html_safe

- if user_logged_in?
  = render partial: 'places/order'
- else
  #need-auth
    %a.oauth-link{href: '/auth/vkontakte'} Авторизуйтесь,
    чтобы получить возможность делиться комментариями.