#place-header{place_id: @place.id}
  .avatar
    = image_tag @place.logo_url(:small_thumb)

  .info
    .name
      = @place.name
    .address#place-address{latitude: @place.latitude, longitude: @place.longitude}
      = @place.address

#place-photos
  .block
    .photos
      - @place.photos.each do |photo|
        .photo-container
          = image_tag photo.image_url(:full)

#place-info
  %table

    - unless @place.average_check.nil?
      %tr
        %td
          Средний чек
        %td
          = "#{@place.average_check} рублей"

    - unless @place.kitchen.nil?
      %tr
        %td
          Кухня
        %td
          = @place.kitchen

    - unless @place.schedule.nil?
      %tr
        %td
          Время работы
        %td
          = @place.schedule

    - unless @place.public_phone.nil?
      %tr
        %td
          Телефон
        %td
          = @place.public_phone

#place-comments

  = render partial: 'places/order', locals: {place: @place}
  = render partial: 'places/comments', locals: {comments: @last_orders}


- unless @place.description.nil?
  #place-content
    .story
      = @place.description.html_safe

#balloon-template{style: 'display: none'}
  .balloon
    .arrow
      %img{src: '/assets/bubble-arrow.png'}
    .image
      = image_tag @place.avatar_url(:wide)
      .name
        = @place.name

#place-map
