#place-header
  .avatar
    = image_tag @place.logo_url(:small_thumb)

  .info
    .name
      = @place.name
    .address
      = @place.address

#place-photos
  .block
    .arrow-left
    .arrow-right
    .photos
      - @place.photos.each do |photo|

        %div
          = image_tag photo.image_url(:full)

#place-info
  %table

    - unless @place.average_check.nil?
      %tr
        %td
          Средний чек
        %td
          = "#{@place.average_check} рублей"

    - unless @place.kitchen.nil?
      %tr
        %td
          Кухня
        %td
          = @place.kitchen

    - unless @place.schedule.nil?
      %tr
        %td
          Время работы
        %td
          = @place.schedule

    - unless @place.public_phone.nil?
      %tr
        %td
          Телефон
        %td
          = @place.public_phone


- unless @place.description.nil?
  #place-content
    .story
      = @place.description.html_safe

#balloon-template{style: 'display: none'}
  .balloon
    .arrow
      %img{src: '/assets/bubble-arrow.png'}
    .image
      .name
        = @place.name

#place-map

#place-comments
  .header
    .form#comment-form
      .avatar
        = image_tag current_user.avatar_url(:thumb)
      .fields
        .tip
          Поделитесь вашим мнением об этом заведении:
        .input
          %input.comment#order-text{type: :text, placeholder: 'Просто напишите его здесь...'}
          %input.comment.table-number#order-text{type: :text, placeholder: '№ Стола'}
          %input#place-id{type: :hidden, value: @place.id}
          %button.submit#submit-order{type: :button}
            Отправить

    #vk-share-screen

    #comment-sent.simple-text
      Ваш комментарий оставлен. В случае одобрения модератором, он будет опубликован на сайте.

    -#need-auth.simple-text
      %a{href: '#'} Авторизуйтесь,
      чтобы получить возможность делиться комментариями.

  .comments

    - @last_orders.each do |comment|
      .comment
        .avatar
          = image_tag comment.user.avatar_url(:mini)
        .content
          .top
            .name
              = comment.user.full_name
            .date
              4 дня назад
          .text
            = comment.content
