!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"
    = javascript_include_tag "application"
  %body
    #header
      .wrapper
        = render partial: 'layouts/header'

    .wrapper
      = yield
    = render partial: 'layouts/footer'