!!! 5
%html
  %head
    = csrf_meta_tags
    %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1', :name => 'viewport'}
    = stylesheet_link_tag    'mobile', media: 'all'
    = javascript_include_tag 'mobile'
    = display_meta_tags site: 'Тэстл. Кафе и рестораны, о которых говорят'
  %body
    #wrapper
      #header
        .title
          %a{href: root_path}
            = image_tag 'mob_logo.png'
      .hr-shadow
      - if user_logged_in?
        #user-info
          .avatar
            = image_tag current_user.avatar_url(:mini)
          .name
            = current_user.full_name


      #content
        .padder
          = yield

    = render partial: 'layouts/metrika'