!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
  %body
    #header
      .wrapper_wide
        = render partial: 'layouts/header'
    .wrapper_wide
      #about
        Тэстл - это места, о которых говорят
      = yield