!!! 5
%html
  %head
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag    "mobile", :media => "all"
    = javascript_include_tag "mobile"
  %body
    #wrapper
      #header
        .title
          tastell
      .hr-shadow
      - if user_logged_in?
        #user-info
          .avatar
            = image_tag current_user.avatar_url(:mini)
          .name
            = current_user.full_name


      #content
        .padder
          = yield