!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"
    = javascript_include_tag "application"
  %body
    #header
      .wrapper{style: 'box-sizing: border-box; padding-top: 40px;'}
        - if user_logged_in?
          = link_to 'Выйти', sign_out_authentications_path, method: :delete, style: 'float: right'
        - else
          %a.oauth-link{href: '/auth/vkontakte', style: 'float: right'} Войти

    .wrapper
      = yield