!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'map', :media => 'all'
    = javascript_include_tag 'http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'
    = javascript_include_tag 'map'
    = display_meta_tags site: 'Тэстл. Кафе и рестораны, о которых говорят'
  %body
    -#overlay
    #header
    #about
      .container
        Тейстл - это вкусные места о которых говорят друзья.


    #places
      %h1
        Наши заведения
      #places-list

      .btn#load-more-places
        Показать еще



    #map-container
      #map

        .map-widget
          .places-widget
            .header
              Популярные заведения
            .places
              - Place.order(:id).limit(6).each do |place|
                .place
                  .avatar
                    %a{href: '#'}
                      = image_tag place.logo_url(:mini)
                  .info
                    .name
                      = place.name
                    .address
                      = place.address

    #last-comments
      .container
        %h1
          Последние комментарии
      .comments-widget
        .comments
          - Order.order('id desc').each do |comment|
            .comment
              .avatar
                = image_tag comment.user.avatar_url(:mini)
              .content
                .top
                  .name
                    = comment.user.full_name
                  .date
                    = l comment.created_at, format: :dayMonth
                .text
                  = comment.content





    #footer
      &copy;
      tastle.ru 2013.

    = yield